div.menu-nosotros, div.menu-puntos-vta, div.bloque_4{
  display: none;
}
div.bloque_3 .titulo_db{
  text-align:left;
}
div.bloque_3 .descripcion_db{
  font-size:20px;
  text-align:left;
}
div.bloque_3 .row-buscador .btn-buscar{
  padding: 10px 34px;
}
div.mito img{
  height:200px;
}
p.trabajaestilo{
  letter-spacing: -0.5px;
  font-size: 14px;
  text-align: left;
  color: #7b6852;
  padding-bottom: 49px;
}
.row_btn{
  text-align: right;
  margin-top: 5%;
}
.span_btn{
    padding: 2% 15%;
    border: 2px solid #8a1c1c;
    margin: 20%;
    color: #8a1c1c;
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
}
.lineaProducto-title{
  height: 250px;
  text-align: center;
}
.lineaProductoCont .lineaProducto-title h1:after{
  left: 27% !important;
  top: 15px;
}

@media (max-width: 767px) {
.visibility_xs{
 display: none !important;

}
}
