#map2{
  width: 100%;
  height: 100%;
}
.ico-marron{
  width: 16px;
  height: 16px;
  color: #7b6852;
  margin-right: 12px;
}
.ico-verde{
  width: 16px;
  height: 16px;
  color: #37B841;
  margin-right: 12px;
}
.ico-rojo{
  width: 16px;
  height: 16px;
  color: #ed2b14;
  margin-right: 12px;
}
.ico-azul{
  width: 16px;
  height: 16px;
  color: #002878;
  margin-right: 12px;
}
.ico-celeste{
  width: 16px;
  height: 16px;
  color: #00b2e9;
  margin-right: 12px;
}
.filtro{
  position: absolute;
  z-index: 2;
  margin-top: 54px;
  max-width: 1088px;
  width: 100%;
  /* left: 50%; */
  left: 60%;
  transform: translateX(-50%);
}
.filtro-input{
  border-top-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 4px;
  background-color: #ebece6;
  box-shadow: 10px 14px 27px 0 rgba(0, 0, 0, 0.2);
}
.filtro-li{
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
  background-color: #ffffff;
  padding: 50px 72px 45px 72px;
  height: 157px;
  box-shadow: 6px 16px 20px 0px rgba(0, 0, 0, 0.2);
}
ul.filtro-list{
  margin:0;
  padding:0;
  list-style:none;
}
.filtro-li a{
  /* font-family: Roboto; */
  font-size: 16px;
  text-align: left;
  color: #b3b3b3;

}
.lista-serv{
  padding-bottom: 27px;
}
.myinput{
 border: solid 0.5px #c4c4c4;
 border-radius: 85px;
 background-color: #ffffff;
 box-shadow: 0 7px 29px 0 rgba(0, 0, 0, 0.02);
 height: 53px;
 /* font-family: 'Open Sans', sans-serif; */
 font-size: 16px;
 font-weight: 600;
 text-align: left;
 color: #7b6851;
 padding-left: 45px;
}
.myinput placeholder{
 color: #7b6851;
}
.input-text{
 /* font-family: Roboto; */
 font-size: 12px;
 font-weight: 500;
 color: #7b6851;
 text-align: right;
 text-decoration: underline;
 padding-top: 16px;
}
.filtro-input{
  padding: 51px 44px 15px 42px;
  height: 157px;

}
.triangulo-filtro {
    position: absolute;
    top: 32% !important;
    right: -3%!important;
    display: inline-block;
    border-top: 30px solid transparent;
    border-left: 30px solid #ebece6;
    border-bottom: 30px solid transparent;
    content: '';
    z-index: 1;
}
.sombra{
  box-shadow: 0 18px 27px 0 rgba(0, 0, 0, 0.2);
}
.ico-search {
    margin-top: 2.9%;
    margin-left: 3%;
    position: absolute;
}
input[type="text"].myinput::-webkit-input-placeholder {
  color: #7b6851;
}
.espacio{
 padding-bottom: 150px;
 background-color: #fbfbfb;
}
/*.filtro-buscador a:hover {
    color: #002878;
}*/
.filtro-buscador a{
  opacity: .30;
}
#todos{
  color:#7B6852;
}
.minimarkert{
 color: rgb(237, 43, 20);
}
.supermercado{
  color:#002878;
}
.tienda{
  color:#00B2E9;
}
.gmap {
	margin-top: 30px;
	height: 450px;
}
.gmap-info-window {
	position: relative;
	width: 159px !important;
	padding: 20px;
  background-color: #002878;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  /* font-family: OpenSans; */
  font-size: 12px;
}
.gmap-info-window:before {
		display: inline-block;
		position: absolute;
		left: 50%;
		bottom: -10px;
		transform: translate(-50%, 0);
    border-top: 15px solid #002878;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
		content: '';
}
.gmap-info-window img{
  width: 10px;
  height: 10px;
}
.gm-style-pbc[style*="opacity: 0"] { z-index: 9999 ! important }
#map .gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0,0,0,0.45);
    text-align: center;
    display: none !important;
}
